<h1 class="display-2 p-3">Series de televisión</h1>
  <div class="container-fluid">
  <div class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th class="h4">Id</th>
          <th class="h4">Nombre</th>
          <th class="h4">Canal</th>
          <th class="h4">Temporadas</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let s of series">
              <td>
                <dd>{{s.id}}</dd>
              </td>
              <td>
                <dd>{{s.name}}</dd>
              </td>
              <td>
                <dd>{{s.channel}}</dd>
              </td>
              <td>
                <dd>{{s.seasons}}</dd>
              </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
